*.help
*.o
/results
lwm
tpk
callgrind.out.*
*.pyc
csc
map
*.py~
ccd
cpk
cpke
cstring
dependencies.png
gf
mgg
mtg
sts
stt
trees.txt
data
/doc/output/*
*.pid
ggen
gpe
ngen
tci
perf
test
lwg
ts
wl
.metadata
output
yakun
marencat
